/* Inserta tu codigo aqui */
.example6 .navbar-brand{ 
  background-image: url("../image/logo.png") contain no-repeat;
  width: 35%;
}
/* Generales */
header{
	background-color: black;
}
section{
	background-color: #404040;
	width:100%;
	height:100%;
}
footer{
	background-color: black;
	height:60%;
}
.flor{
	background-image: url("../image/head.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	max-width: 100%;
    height:350px;
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom:2%;
 }
 .video{
 	margin-top: 2%;
 }
/* Cuadros */
/* Spring Came cuadro */
.cdnegro{
	background-color: black;
}
 /* Spring Came 3 cuadros */
.bgnegro{
	background-color:black;
	padding :2%;
}
.bgnegro2{
	background-color:black;
	margin-top:0%;
}
/* Texto */
.tx-nar{
	color:#f6ab1c;
	font-family: Courgette;
}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
